<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- PHP handler for this subdirectory with all verbs -->
    <handlers>
      <remove name="PHP-FastCGI" />
      <add name="PHP-FastCGI"
           path="*.php"
           verb="GET,POST,PUT,PATCH,DELETE,OPTIONS,HEAD"
           modules="FastCgiModule"
           scriptProcessor="C:\php\php-cgi.exe"
           resourceType="File"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
